.countdown {
  background: inherit;
  position: absolute;
  cursor: pointer;
  font-size: 3em;
  border-color: #ddd;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
  margin: 0.6em;
  padding: 0 15px;
  text-align: center;
}
.countdown .digits {
  color: inherit;
}
.countdown.running {
  border-color: #3C9A5F;
  background-color: #43AC6A;
}
.countdown.running .digits {
  color: #0D2215;
}
.countdown.finished {
  border-color: #D600D6;
  background-color: magenta2;
}
.countdown.finished .digits {
  color: #2F002F;
}
.countdown.running.warning {
  border-color: #CFAE24;
  background-color: #E6C229;
}
.countdown.running.warning .digits {
  color: #2D2608;
}

@-webkit-keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

@keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

.countdown.running.blink-colon .digits.colon{
  -webkit-animation: blink 2s steps(1, end) 0s infinite;
          animation: blink 2s steps(1, end) 0s infinite;
}
