.countdown {
  background: inherit;
  position: absolute;
  cursor: pointer;
  font-size: 3em;
  border-color: #ddd;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.4);
  margin: 0.6em;
  padding: 0 15px;
  text-align: center;
}
.countdown .digits {
  color: inherit;
}
.countdown.running {
  border-color: #3C9A5F;
  background-color: #43ac6a;
}
.countdown.running .digits {
  color: #000000;
}
.countdown.finished {
  border-color: #D83A20;
  background-color: #F04124;
}
.countdown.finished .digits {
  color: #000000;
}

@-webkit-keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

@keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

.countdown.running.blink-colon .digits.colon{
  -webkit-animation: blink 2s steps(1, end) 0s infinite;
          animation: blink 2s steps(1, end) 0s infinite;
}
