.countdown {
  background: {{color_background}};
  position: absolute;
  cursor: pointer;
  font-size: {{font_size}};
  line-height: {{line_height}};
  border-color: {{color_border}};
  border-width: {{border_width}};
  border-style: solid;
  border-radius: {{border_radius}};{{#box_shadow}}
  box-shadow: {{box_shadow}};
  -webkit-box-shadow: {{box_shadow}};{{/box_shadow}}
  margin: {{margin}};
  padding: {{padding}};
  text-align: center;
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.countdown .countdown-time {
  background: none;
  font-size: 100%;
  padding: 0;
}
.countdown-digits {
  color: {{color_text}};
  vertical-align: text-bottom;
}
.countdown.running {
  border-color: {{color_running_border}};
  background-color: {{color_running_background}};
}
.countdown.running .countdown-digits {
  color: {{color_running_text}};
}
.countdown.finished {
  border-color: {{color_finished_border}};
  background-color: {{color_finished_background}};
}
.countdown.finished .countdown-digits {
  color: {{color_finished_text}};
}
.countdown.running.warning {
  border-color: {{color_warning_border}};
  background-color: {{color_warning_background}};
}
.countdown.running.warning .countdown-digits {
  color: {{color_warning_text}};
}

@-webkit-keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

@keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

.countdown.running.blink-colon .countdown-digits.colon {
  -webkit-animation: blink 2s steps(1, end) 0s infinite;
          animation: blink 2s steps(1, end) 0s infinite;
}
