.countdown {
  background: {{color_background}};
  position: absolute;
  cursor: pointer;
  font-size: {{font_size}};
  line-height: {{line_height}};
  border-color: {{color_border}};
  border-width: {{border_width}};
  border-style: solid;
  border-radius: {{border_radius}};
  {{#box_shadow}}
  box-shadow: {{box_shadow}};
  -webkit-box-shadow: {{box_shadow}};
  -moz-box-shadow: {{box_shadow}};
  {{/box_shadow}}
  margin: {{margin}};
  padding: {{padding}};
  text-align: center;
}
.countdown code {
  vertical-align: middle;
}
.countdown .digits {
  color: {{color_text}};
}
.countdown.running {
  border-color: {{color_running_border}};
  background-color: {{color_running_background}};
}
.countdown.running .digits {
  color: {{color_running_text}};
}
.countdown.finished {
  border-color: {{color_finished_border}};
  background-color: {{color_finished_background}};
}
.countdown.finished .digits {
  color: {{color_finished_text}};
}
.countdown.running.warning {
  border-color: {{color_warning_border}};
  background-color: {{color_warning_background}};
}
.countdown.running.warning .digits {
  color: {{color_warning_text}};
}

@-webkit-keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

@keyframes blink {
	from {opacity: 1}
	50%  {opacity: 0.1}
	to   {opacity: 1}
}

.countdown.running.blink-colon .digits.colon{
  -webkit-animation: blink 2s steps(1, end) 0s infinite;
          animation: blink 2s steps(1, end) 0s infinite;
}
